# Скомпилированные файлы
*.o
*.a
*.so

# Исполняемые файлы
*.exe
*.out

# Временные файлы
*.tmp
*~

# Файлы среды разработки
.idea/
.vscode/
.DS_Store
build/

# Файлы user
*.pro.user
*.user

# Сгенерированные файлы пользовательского интерфейса
*.ui

# Сгенерированные файлы ресурсов
*.qrc
